<h2>About</h2>
<p>I am a mathematician, working on questions of topology and Galois theory in <i>"géométrie arithmétique topossique"</i>.</p>

I am currently an undergraduate student at the <a href="http://www.udea.edu.co">Universidad de Antioquia</a> in Medellín, Colombia.
<!--<img style="height: 1.1em;" src="{{ site.baseurl }}/images/udea.ico">&nbsp;Universidad de Antioquia</a>.-->

<!--<h3><a class="page-link" href="/cv/cv_en.pdf">CV</a></h3>-->

<h2><a href"">Papers</a></h2>

<ul>
  
</ul>

<h2><a href"">Preprints</a></h2>

<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<h2><a href"">Notes</a><h2>
  
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<h2><a href"">Other projects</a></h2>

<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<hr />

<i>mateo(dot)carmona(at)udea(dot)edu(dot)co</i>
<!--
<address>
  <a href="http://ciencias.udea.edu.co/">Instituto de Matemáticas</a></br>
  <a href="http://www.udea.edu.co">Universidad de Antioquia</a></br>
  Medellín, Colombia
</address>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
-->
