<h2>About</h2>
<p>I am a mathematician, working on questions of topology and Galois theory in <i>"géométrie arithmétique topossique"</i>.</p>

I am currently an undergraduate student at the <a href="http://www.udea.edu.co">Universidad de Antioquia</a> in Medellín, Colombia.

<!--<h3><a class="page-link" href="/cv/cv_en.pdf">CV</a></h3>-->

<h2><a href"">Papers</a></h2>

<ul>
  
</ul>

<h2><a href"">Preprints</a></h2>

<ul>
  <li>Morphisms of topoi</li>
  <li>Stacks of topoi</li>
  <li>Classifying topoi and Topos extensions</li>
  <li>Topological algebra</li>
</ul>

<h2><a href"">Notes</a></h2>
  
<ul>
  <li><a href="https://www.overleaf.com/read/tkygnkgcgmxc">$\Cat_{/\mathcal{E}}$</a></li>
  <li><a href="https://www.overleaf.com/read/cgnvbrxrjftq">Algebra</a></li>
  <li><a href="https://www.overleaf.com/read/bjvphtwwrhkb">Phenomena of Topoi</a></li>
</ul>

<h2><a href"">Other projects</a></h2>

<ul>
  <li>La llave de los sueños, A. Grothendieck</li>
</ul>

<hr />

<i>mateo(dot)carmona(at)udea(dot)edu(dot)co</i>
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;

